<%- include("partials/header") %>

<h1> Home</h1>

<div> <%= firstContent %> </div>

<div>    
    <% for (var i = 0; i < posts.length; i++) { %>
    
    <% console.log(posts[i].title); %>

<% } %> 

</div>


<%- include("partials/footer") %>